[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==20.8b0"
isort = "==5.7.0"

[packages]
databases = {extras = ["postgresql"],version = "*"}
httpx = "==0.17.1"
asyncpg = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
