[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = {extras = ["all"],version = "*"}
databases = {extras = ["postgresql"],version = "*"}
httpx = "==0.17.1"

[requires]
python_version = "3.7"
